<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <table class="table table-hover" border="1" width="100%">
                    <tbody>
                                                <tr>
                            <td colspan="3"><center><b>SMA DEMO SMARTSCHOOL</b></center>
                            </td>
                        </tr>
                                                <tr>
                            <td colspan="3"><center><b>LAPORAN NERACA</b></center>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><center><b>Tahun 2022</center></b>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Aktiva</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                                                                                                                        <tr>
                                        <td>Aktiva Lancar</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Kas</span></td>
                                                <td>1,150,000
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Bank</span></td>
                                                <td>60,000
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Aktiva Lancar</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>1,210,000
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Aktiva Tetap</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Aktiva Tetap</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Investasi</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        investasi</span></td>
                                                <td>0
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Investasi</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Tidak Terwujud</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Tidak Terwujud</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Lain-Lain</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Pemasukan Lain  - Lain</span></td>
                                                <td>0
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Lain-Lain</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                                                                                                                                                                        <tr>
                            <td><span class="ml-2"><b>Total Aktiva </b></span>
                            </td>
                            <td></td>
                            <td>1,210,000</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="table table-hover" border="1" width="100%">
                    <tbody>
                        <tr>
                            <td><b>Passiva</b></td>
                            <td></td>
                            <td></td>
                        </tr>
                                                                                                                                                                                                        <tr>
                                        <td>Modal Perorangan</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Modal</span></td>
                                            <td>1,000,000
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                        <tr>
                                        <td>Modal Persekutuan</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                        <tr>
                                        <td>Modal Terbatas</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                    <tr>
                                    <td><span class="ml-2"><b>Jumlah
                                                Modal </b></span>
                                    </td>
                                    <td></td>
                                    <td>1,000,000
                                    </td>
                                </tr>
                                                                                                                                                                                <tr>
                                        <td>Hutang Lancar</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Hutang Toko Makmur</span></td>
                                            <td>0
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                        <tr>
                                        <td>Hutang Jangka Panjang</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Hutang Bank Indonesia</span></td>
                                            <td>0
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                    <tr>
                                    <td><span class="ml-2"><b>Jumlah Hutang / Kewajiban </b></span>
                                    </td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                                                                                        <tr>
                            <td><span class="ml-2"><b>Laba / Rugi </b></span>
                            </td>
                            <td></td>
                            <td>210,000</td>
                        </tr>
                        <tr>
                            <td><span class="ml-2"><b>Total Passiva </b></span>
                            </td>
                            <td></td>
                            <td>1,210,000</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
