<center>
            <b>SMA DEMO SMARTSCHOOL</b>
        <br>
        <b>NERACA</b>
    <br>
    <b>Periode Tahun 2022 </b>
</center>
<br>
<hr>
<br>


<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <table class="table table-hover" border="1" width="100%">
                    <thead>
                        <tr>
                            <td>Aktiva</td>
                            <td>
                        </tr>
                    </thead>
                    <tbody>
                                                                                                                        <tr>
                                        <td>Aktiva Lancar</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Kas</span></td>
                                                <td>1,150,000
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Bank</span></td>
                                                <td>60,000
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Aktiva Lancar</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>1,210,000
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Aktiva Tetap</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Aktiva Tetap</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Investasi</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        investasi</span></td>
                                                <td>0
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Investasi</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Tidak Terwujud</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Tidak Terwujud</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                        <tr>
                                        <td>Lain-Lain</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                                                                                                                                                                                                                                    <tr>
                                                <td> <span class="ml-2">
                                                        Pemasukan Lain  - Lain</span></td>
                                                <td>0
                                                </td>
                                                <td></td>
                                            </tr>
                                                                                                                    
                                    <tr>
                                        <td><span class="ml-2"><b>Jumlah
                                                    Lain-Lain</b></span>
                                        </td>
                                        <td></td>
                                                                                    <td>0
                                            </td>
                                                                            </tr>
                                                                                                                                                                                                                                                    </tbody>
                </table>
            </td>
            <td>
                <table class="table table-hover">
                    <tbody>
                                                                                                                                                                                                        <tr>
                                        <td>Modal Perorangan</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Modal</span></td>
                                            <td>1,000,000
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                        <tr>
                                        <td>Modal Persekutuan</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                        <tr>
                                        <td>Modal Terbatas</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                    <tr>
                                    <td><span class="ml-2"><b>Jumlah
                                                Modal </b></span>
                                    </td>
                                    <td></td>
                                    <td>1,000,000
                                    </td>
                                </tr>
                                                                                                                                                                                <tr>
                                        <td>Hutang Lancar</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Hutang Toko Makmur</span></td>
                                            <td>0
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                        <tr>
                                        <td>Hutang Jangka Panjang</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                                                                                                    <tr>
                                            <td> <span class="ml-2">
                                                    Hutang Bank Indonesia</span></td>
                                            <td>0
                                            </td>
                                            <td></td>
                                        </tr>
                                                                                                    <tr>
                                    <td><span class="ml-2"><b>Jumlah Hutang / Kewajiban </b></span>
                                    </td>
                                    <td></td>
                                    <td>0</td>
                                </tr>
                                                                                                        <tr>
                            <td><span class="ml-2"><b>Laba / Rugi </b></span>
                            </td>
                            <td></td>
                            <td>210,000</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>Total Aktiva</td>
            <td></td>
            <td><b>1,210,000</b></td>
        </tr>
        <tr>
            <td>Total Passiva</td>
            <td></td>
            <td><b>1,210,000</b></b></td>
        </tr>
    </tbody>
</table>


