/* styling opsi */
.form-signin {
	max-width: 500px;
	margin: 20px auto;
	background-color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background-color:rgba(255,255,255,.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	border-radius:8px;
	box-shadow:4px 4px 10px 0 rgba(20,20,20,.6);
}

#background-carousel{
	position:fixed;
	width:100%;
	height:100%;
	z-index:-1;
}
.item {
	width:100%;
	height:100%;
	background-position:center center;
	background-size:cover;
	z-index:0;
}

#content-wrapper {
	position:absolute;
	z-index:1 !important;
	min-width:100%;
	min-height:100%;
}
.well {
	opacity:0.85
}

.login-container {
	-ms-flex-align:center;
	align-items:center;
	background:#00000000;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-direction:column;
	flex-direction:column;
	height:100vh;
	-ms-flex-pack:center;
	justify-content:center
}
/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
		opacity: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 50px;
	background: #274089;
	background-size:52px;
	background-repeat: repeat;
	height: 300px;
}

.overlap {
	margin-top: -260px
}

.funkyradio div {
	clear: both;
	overflow: hidden;
}

.funkyradio label {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #D1D3D4;
	font-weight: normal;
	padding: 5px 0 5px 50px;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
	display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
	position: relative;
	line-height: 2em;
	/*text-indent: 3.25em;*/
	margin-top: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
	color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
	/*content: '\2714';*/
	text-indent: .9em;
	color: #000;
	font-weight: bold;
	padding: 5px 0 0 0;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
	color: #fff;
	background: #86C186;
	font-weight: bold;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
	/*content: '\2714';*/
	text-indent: .9em;
	color: #333;
	background-color: #ccc;
	padding: 5px 0 0 0;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
	color: #333;
	background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
	color: #fff;
	background-color: #5bc0de;
}

.huruf_opsi {
	margin-left: -36px;
	margin-top: 9px;
	position: absolute;
}

.btn.no-hover:hover {
	cursor:default !important;
}

/* shadow */
.shadow-sm {
	box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2) !important
}

.my-shadow {
	box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important
}

.shadow-lg {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important
}

.shadow-none {
	box-shadow: none !important
}

.input-group>.w-40 {
	flex: 0 0 40%;
}
.input-group>.input-group-prepend {
	flex: 0 0 15%;
}
.input-group .input-group-text {
	width: 100%;
}

.note-editor.note-frame, .note-editor.note-airframe {
	border: 1px solid #ffffff;
}

.btn-circle {
	width: 49px;
	height: 49px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2.00;
	border-radius: 30px;
}

.btn-oval {
	height: 49px;
	text-align: center;
	padding: 5px 0;
	font-size: 20px;
	line-height: 2.00;
	border-radius: 30px;
}

.btn-circle-micro {
	/*height: 19px;*/
	display: inline-block;
	padding: .25em .4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .60rem;
}

.btn-circle-sm {
	width: 35px;
	height: 35px;
	text-align: center;
	padding: 4px 0;
	font-size: 12pt;
	line-height: 1.65;
	border-radius: 30px;
}

.btn-oval-sm {
	height: 35px;
	text-align: center;
	font-size: 12pt;
	line-height: 1.65;
	border-radius: 30px;
	padding: .25em 1em;
}

.btn-circle-lg {
	width: 79px;
	height: 79px;
	text-align: center;
	padding: 13px 0;
	font-size: 30px;
	line-height: 2.00;
	border-radius: 70px;
}

.no-search .select2-search {
	display:none
}

.container-jawaban {
	display: block;
	position: relative;
	padding-left: 50px;
	margin-bottom: 30px;
	cursor: pointer;
	font-size: 18px;
	text-align: justify;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.container-jawaban input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: -5px;
	left: 0;
	height: 40px;
	width: 40px;
	background-color: #eee;
	border-radius: 50%;
	border: 1px solid #ccc;
	font-size: 24px;
	line-height: 1.6;
	text-align: center;
}

.boxmark {
	position: absolute;
	top: -5px;
	left: 0;
	height: 40px;
	width: 40px;
	background-color: #eee;
	border-radius: 8px;
	border: 1px solid #ccc;
	font-size: 24px;
	line-height: 1.6;
	text-align: center;
}

.container-jawaban:hover input ~ .checkmark {
	background-color: #ccc;
}

.container-jawaban input:checked ~ .checkmark {
	background-color: #2196F3;
	color: #fff;
}

.container-jawaban:hover input ~ .boxmark {
	background-color: #ccc;
}

.container-jawaban input:checked ~ .boxmark {
	font-weight: bold;
	background-color: #2196F3;
	color: #fff;
}

.container-jawaban input:checked ~ .boxmark:before {
	content: "\2713";
}

#media-list li img {
	width: 100px;
	height: 100px
}

#media-list li {
	height: 102px
}

#media-list li video {
	width: 100px;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%)
}

div#hint_brand .modal-dialog {
	top: 110px;
	width: 567px;
	max-width: 100%
}

li.myupload span {
	position: relative;
	width: 100px;
	height: 100px;
	display: block;
	background: #fff
}

li.myupload span input {
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

li.myupload span i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ccc;
	font-size: 54px
}

#media-list li {
	float: left;
	border: 1px solid #ccc;
	background: #ccc;
	position: relative;
	margin: 0 5px 5px 0;
	width: 102px
}

#media-list li:last-child {
	margin-right: 0
}

.post-thumb {
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: none
}

#media-list li:hover .post-thumb {
	display: block
}

a.remove-pic {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	display: block;
	height: 25px;
	width: 25px;
	text-align: center;
	padding: 3px 0
}

.inner-post-thumb {
	position: relative
}

.user-post-text-wrap {
	position: relative
}

.user-pic-post {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0
}

.user-pic-post img {
	width: 100%
}

.user-txt-post {
	padding: 0 0 0 65px
}

textarea.form-control.upostTextarea {
	border: 0;
	box-shadow: none;
	height: 85px;
	resize: none
}

.user-post-text-wrap {
	border-bottom: 1px solid #ccc;
	margin: 0 0 15px
}

.user-post-btn-wrap {
	margin: 25px 0 0
}

ul.btn-nav {
	list-style: none;
	padding: 0;
	margin: 0
}

ul.btn-nav li {
	position: relative;
	float: left;
	margin: 0 10px 0 0
}

ul.btn-nav li span input {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	opacity: 0;
	filter: alpha(opacity=100)
}

ul#media-list {
	list-style: none;
	padding: 0;
	margin: 0
}

input.picupload {
	width: 100px;
	height: 100px
}


.select2-container {
	width: auto;
}

.bstreeview {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;

	padding: 0;
	overflow: hidden;
}

.bstreeview .list-group {
	margin-bottom: 0;
}

.bstreeview .list-group-item {
	border-radius: 0;
	border-width: 1px 0 0 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	cursor: pointer;
}

.bstreeview .list-group-item:hover {
	background-color:#dee2e6;
}

.bstreeview > .list-group-item:first-child {
	border-top-width: 0;
}

.bstreeview .state-icon {
	margin-right: 8px;
	width: 12px;
	text-align: center;
}
.bstreeview .item-icon {
	margin-right: 5px;
}

.tbl-vertical {
	white-space: nowrap;
	transform: rotate(-90deg);
	text-align: left;
	bottom: 4px;
	padding: 1px 1px 1px 10px;
	width: 30px;
}

/*from bs 3*/
@media (max-width:767px){
	.hidden-xs{display:none!important}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{display:none!important}
}
@media (min-width:1200px){
	.hidden-lg{display:none!important}
}

.img-zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.img-zoom:hover {
	-ms-transform: scale(2); /* IE 9 */
	-webkit-transform: scale(2); /* Safari 3-8 */
	transform: scale(2);
}

div.list-jadwal-ujian div:nth-child(even) {
	background: white;
	padding-left: .25rem!important;
	padding-right: .25rem!important;
	color: black;
}

div.list-jadwal-ujian div:nth-child(odd) {
	background: #dee2e6;
	padding-left: .25rem!important;
	padding-right: .25rem!important;
	color: black;
}

#guru.dataTable.no-footer{
	border-bottom: unset;
}
#guru tbody td {
	display: block;
	border: unset;
}
#guru>tbody>tr>td{
	border-top: unset;
}

.hrspan {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}

.hrspan span {
	position: absolute;
	top: -11px;
	background: #fff;
	padding: 0 20px;
	font-weight: bold;
	font-size: 16px;
}

div.hr-or {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	text-align: center;
	height: 0px;
	line-height: 0px;
}

div.hr-or:before {
	content: 'OR';
	background-color: #fff;
}

div.hr {
	margin-top: 20px;
	margin-bottom: 12px;
	margin-right: 20px;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	height: 0px;
	line-height: 0px;
}

.hr-title {
	background-color: #fff;
	font-weight: bold;
	padding: 0 4px 0 0;
}

.hr-text {
	line-height: 1em;
	position: relative;
	outline: 0;
	border: 0;
	color: black;
	text-align: center;
	height: 1.5em;
	opacity: .5;
}
.hr-text:before {
	content: '';
	background: linear-gradient(to right, transparent, #818078, transparent);
	 position: absolute;
	 left: 0;
	 top: 50%;
	 width: 100%;
	 height: 1px;
}
.hr-text:after {
	 content: attr(data-content);
	 position: relative;
	 display: inline-block;
	 padding: 0 .5em;
	 line-height: 1.5em;
	color: #818078;
	 background-color: #fcfcfa;
}

.btn-disabled,
.btn-disabled[disabled] {
	opacity: .65;
	cursor: not-allowed;
}

.crop-text-1 {
	-webkit-line-clamp: 1;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
.crop-text-2 {
	-webkit-line-clamp: 2;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.rTable {
	display: table;
	width: 100%;
}
.rTableRow {
	display: table-row;
}
.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
}
.rTableCell, .rTableHead {
	display: table-cell;
	border-top: 10px solid #EBEBEB;
}
.rTableHeading {
	display: table-header-group;
	background-color: #ddd;
	font-weight: bold;
}
.rTableFoot {
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}
.rTableBody {
	display: table-row-group;
}

.sTable {
	display: table;
	width: 100%;
}
.sTableRow {
	display: table-row;
}
.sTableHeading {
	display: table-header-group;
	background-color: #ddd;
}
.sTableCell, .sTableHead {
	display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
}
.sTableHeading {
	display: table-header-group;
	background-color: #ddd;
	font-weight: bold;
}
.sTableFoot {
	display: table-footer-group;
	font-weight: bold;
	background-color: #ddd;
}
.sTableBody {
	display: table-row-group;
}

connection {
	border: 2px solid #b51c29;
	border-radius: 31px;
}

.jodohkan ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	font-weight: normal;
}

.jodohkan li {
	border: solid 1px grey;
	padding: 5px 2px 5px 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	background-color: #fff;
	color: black;
	border-radius: 4px;
	text-overflow: ellipsis;
	overflow: hidden;
}